html {
	font-size: 62.5%;
}

.title {
	padding: 1rem 2rem;
	border-top: 3px dotted rgb(113, 113, 251);
	border-bottom: 3px dotted rgb(113, 113, 251);
}

table{
	border-collapse: collapse;
}
th,td {
	border: solid 1px;
	padding: 1rem;
}